.page {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-bg);
}

.about {
  padding-block: 0 80px;
}

.aboutTitle {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
}

.aboutText {
  max-width: 615px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  color: var(--color-text-muted);
}
